@page "/Roles"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits GridContainerBase<Atlas.Core.Models.Role>

@{
    // Display the markup for the underlying base 
    // GenericGridContainer<T> we are inheriting.
    base.BuildRenderTree(__builder);
}

@code{
    public override string? Title { get; set; } = "Roles";
    public override string? NavigateTo { get; set; } = AtlasWeb.PAGE_ROLE;
    public override string? APIEndpoint { get; set; } = AtlasAPIEndpoints.GET_ROLES;
    public override int ItemsPerPage { get; set; } = 20;
    public override string? FilterFieldName { get; set; } = "Name";
    public override string? IdentityFieldName { get; set; } = "RoleId";
    public override string? CreatePermission { get; set; } = Auth.ADMIN_WRITE;

    public override RenderFragment RenderGridContent() => __builder =>
    {
        <FluentDataGrid TGridItem=Atlas.Core.Models.Role Items="@FilteredItems"
                        Style="height: 600px;overflow:auto;" GridTemplateColumns="0.2fr 1fr"
                        ResizableColumns=true GenerateHeader="GenerateHeaderOption.Sticky"
                        Pagination="@Pagination">
            <PropertyColumn Property="@(r => r.RoleId)" Sortable="true" Align="Align.Center" Title="Role Id"/>
            <PropertyColumn Property="@(r => r.Name)" Sortable="true" Filtered="!string.IsNullOrWhiteSpace(Filter)" Tooltip="true" Title="Name">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="filter" Autofocus=true @bind-Value=Filter @oninput="HandleFilter" @bind-Value:after="HandleClear" Placeholder="Role name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <TemplateColumn Align="@Align.Center">
                <FluentButton aria-label="Open" IconEnd="@(new Icons.Regular.Size16.MoreHorizontal())" OnClick="@(() => Edit(context))" />
            </TemplateColumn>
        </FluentDataGrid>
    };
}