@inherits AtlasComponentBase;
@attribute [StreamRendering]

@if (_modules != null)
{
    <nav>
        <FluentNavMenu Width="250" Collapsible="true" Title="Atlas navigation menu">

            @foreach (Module module in _modules)
            {
                <FluentNavGroup Expanded="true" Title="@module.Name" Icon="@(new Icons.Regular.Size20.EarthLeaf())">

                    @foreach(Category category in module.Categories)
                    {
                        <FluentNavGroup Expanded="true" Title="@category.Name" Icon="@(new Icons.Regular.Size20.EarthLeaf())">

                            @foreach(MenuItem menuItem in category.MenuItems)
                            {
                                <FluentNavLink Href=@($@"{menuItem.NavigatePage}\Reset\{menuItem.PageCode}\{true}") @onclick:stopPropagation="true" Icon="@(new Icons.Regular.Size20.LeafOne())">@menuItem.Name</FluentNavLink>
                            }

                        </FluentNavGroup>
                    }

                </FluentNavGroup>
            }

        </FluentNavMenu>
    </nav>
}

@code {
    [Inject]
    internal IUserRequests? UserRequests { get; set; }

    [Inject]
    internal AuthenticationStateProvider? AuthenticationStateProvider { get; set; }

    private IEnumerable<Module>? _modules = new List<Module>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SetBearerToken(UserRequests);
    }

    protected async override Task OnParametersSetAsync()
    {
        if (AuthenticationStateProvider == null)
        {
            throw new ArgumentNullException(nameof(AuthenticationStateProvider));    
        }

        if (UserRequests == null)
        {
            throw new ArgumentNullException(nameof(UserRequests));
        }

        bool isAuthenticatedAtlasUser = await AuthenticationStateProvider.IsAuthenticatedAtlasUser().ConfigureAwait(false);

        if (isAuthenticatedAtlasUser)
        {
            _modules = await UserRequests.GetClaimModulesAsync().ConfigureAwait(false);
        }

        await base.OnParametersSetAsync().ConfigureAwait(false);
    }

    // private RenderFragment RenderModule(Module module) => __builder =>
    // {
    //     @if (module != null)
    //     {
    //         <MudNavGroup Title="@module.Name" Icon=@IconHelper.GetOutlined(module.Icon) HideExpandIcon="true" Expanded="true">
    //             @foreach (var category in module.Categories)
    //             {
    //                 <MudNavGroup Title="@category.Name" Icon=@IconHelper.GetOutlined(category.Icon) HideExpandIcon="true" Expanded="true">
    //                     @foreach (var menuItem in category.MenuItems)
    //                     {
    //                         <MudNavLink Href=@($@"{menuItem.NavigatePage}\Reset\{menuItem.PageCode}\{true}") Icon=@IconHelper.GetOutlined(menuItem.Icon) @onclick:stopPropagation="true" Match="NavLinkMatch.All">@menuItem.Name</MudNavLink>
    //                     }
    //                 </MudNavGroup>
    //             }
    //         </MudNavGroup>
    //     }
    // };
}
